<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fill Up</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div>
        <h2>Fill Up Form :</h2>
        <form class='form' action='/hrform1' method='POST'>
          <div class=form2>
            <label for="fname">First Name</label>
            <input type="text" name='fname'>
            <label for="lname">Last Name</label>
            <input type="text" name='lname'>
            <label for="idtag">IdTag</label>
            <input type="text" name='idtag'>
            <label for="status">Status</label>
            <input type="text" name='status'>
            <label for="position">Position</label>
            <input type="text" name='position'>
            <label for="department">Department</label>
            <input type="text" name='section'>
            <label for="supervisor">Supervisor</label>
            <input type="text" name='supervisor'>
            <label for="Shift">Shift</label>
            <input type="text" name='shift'>
          </div>
          <div class='panel'>
            <input type="Submit">
          </div>
        </form>
      </div>
</body>
</html>